#root {
    height : 100%;
    width : 100%;
}

#flexContainer {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height : 100%;
    width : 100%;    
}
#flexContainer input {
    margin: 20px 0px 20px 0px;
}